.movie-container {
  padding: 20px;
}

.movie-poster {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.genre {
  list-style-type: none;
  padding-left: 10px;
}
.cast-container {
  padding: 20px;
}
.cast-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.cast {
  margin: 5px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cast-img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
